body {
    font-family: Arial, sans-serif;
    background-image: url(download.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}




.container {
    padding-top: 10px;
    padding-bottom: 60px;
}




.rainbow-heading {
    font-size: 3em;
    font-weight: bold;
    background-image: linear-gradient(to right, red, orange, green, blue, indigo, violet);
    -webkit-background-clip: text;
    color: transparent;
}




.description {
    column-count: 3;
    column-gap: 30px;
    line-height: 30pt;
    font-size: 1.2em;
    color: #333;
}




.dog-image {
    margin-top: 5%;
    height: 100%;
    max-width: 40%;
}




.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 2%;
}




.ball {
    animation: move-ball 5s infinite alternate;
    margin-top: -20px;
}




@keyframes move-ball {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }




    25% {
        transform: translate(80px, 30px) rotate(45deg);
    }




    50% {
        transform: translate(200px, 0px) rotate(90deg) skewX(10deg);
    }




    75% {
        transform: translate(80px, -30px) rotate(135deg);
    }




    100% {
        transform: translate(0px, 0px) rotate(180deg);
    }
}


